.aboutContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: no-repeat url('https://cdn.discordapp.com/attachments/1115006209641173083/1147736255732387881/Casita_Amita_Flores_en_el_bosque.jpg');
    gap: 70px;
}

.aboutText {
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(185, 183, 188, 0.739);
    padding: 90px 70px 90px 70px;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
}

.conteinerImgHilda {
    background-color: transparent;
}

.aboutImage {
    background-color: transparent;
    width: 220px;
    height: 370px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-top: 50px;

}

.buttonsAbout {
    text-decoration: none;
    width: auto;
    height: 40px;
    padding: 10px;
    border: none;
    margin: 3px 10px 3px 10px;
    background: rgb(251, 0, 151);
    background: radial-gradient(circle, rgba(236, 83, 176, 1) 0%, rgba(77, 45, 183, 0.364) 100%);
    border-radius: 20px;
}
.buttonsAbout:hover{
    outline: 1px solid #fff;
    background: rgba(236, 83, 175, 0.975);
    background: radial-gradient(circle, rgba(236, 83, 176, 1) 0%, rgba(77, 45, 183, 0.867) 100%);
    border-radius: 20px;
}
