.cardContainer {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    background-size: auto;
}
.loading {
    width: 72px;
    height: 72px;
    display: flex;
    position: relative;
    z-index: 5;
    color: #ff477c;
    background: linear-gradient(currentColor 0 0) center/100% 4.3px,
       linear-gradient(currentColor 0 0) center/4.3px 100%;
    background-repeat: no-repeat;
    animation: loading-slq5ph 1.2s infinite;
 }
 
 .loading::before,
 .loading::after {
    content: "";
    grid-area: 1/1;
    background: repeating-conic-gradient(#0000 0 35deg, currentColor 0 90deg);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 4.3px), #000 0);
    border-radius: 50%;
 }
 
 .loading::after {
    margin: 20%;
 }
 
 @keyframes loading-slq5ph {
    100% {
       transform: rotate(1turn);
    }
 }