.DetailContainer {
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   position: fixed;
   padding-top: 51px;
   z-index: -1;
   background: rgb(32,73,31);
background: radial-gradient(circle, rgba(32,73,31,1) 0%, rgba(37,37,37,1) 67%);
}

.DetailContainerHouse {
   height: 550px;
   width: 550px;
   z-index: 1;
   padding-top: 18px;
}

.pokemonImg {
   height: 200px;
   position: absolute;
   z-index: 2;
   top: 300px;
   left: 430px;
   filter: drop-shadow(0px 0px 26px #e20df1);
}

.DetailPokemon {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 300px;
   height: 590px;
 
   background-color: rgba(0, 0, 0, 0.348);
   z-index: 3;
   color: #e20df144;
   text-shadow: 1px 0px 0px #fc049d ;
}

.loading {
   width: 72px;
   height: 72px;
   display: flex;
   position: relative;
   z-index: 5;
   color: #ff477c;
   background: linear-gradient(currentColor 0 0) center/100% 4.3px,
      linear-gradient(currentColor 0 0) center/4.3px 100%;
   background-repeat: no-repeat;
   animation: loading-slq5ph 1.2s infinite;
}

.loading::before,
.loading::after {
   content: "";
   grid-area: 1/1;
   background: repeating-conic-gradient(#0000 0 35deg, currentColor 0 90deg);
   mask: radial-gradient(farthest-side, #0000 calc(100% - 4.3px), #000 0);
   border-radius: 50%;
}

.loading::after {
   margin: 20%;
}

@keyframes loading-slq5ph {
   100% {
      transform: rotate(1turn);
   }
}