.cardContainer{

    display: grid;
    place-items: center;
    width: 200px;
    height: 200px;
    background-color: rgba(235, 33, 211, 0.687);
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
}