.updateContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 590px;
    background-color: rgba(0, 0, 0, 0.348);
    z-index: 3;
}

.input{
    color: #fff
}

.label{
    color: #e20df144;
    text-shadow: 1px 0px 0px #fc049d;
}