.searchContainer{
    display: flex;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    padding: 2px;

    transition: transform 0.2s, box-shadow 0.2s
}
.searchContainer:hover{
    outline: 1px solid #ffffff;
    transform: translateY(-2px); 

}

.searchInput{
    background-color: none;
    padding-left: 10px;
    border:none  ;
   border-right: .5px solid #cacaca;
}
.searchButton{
    display: flex;
    justify-content: center;
    border: none;
    background-color: #fff;
    padding: 2px;
    padding-left: 4px;
}
.searchIcon{
    padding: 2px;
    border: none;
    background-color: #ffffff;
}

