.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #42e03a;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    background-color: rgb(191, 0, 255);
    padding: 10px;
    gap: 10px;
    margin-top: 50px;
}

.buttonPage {
    padding: 6px;
    border-radius: 50%;
    background: rgba(77, 45, 183, 0.405);
    background: linear-gradient(0deg, rgba(77, 45, 183, 0.568) 0%, rgba(236, 83, 176, 1) 100%);
    border: none;
    color: #fff
}

.buttonPage:hover {
    outline: 1px solid #fff;
}

.containerFiltersCards {
    display: flex;
}

.containerFilters {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 20%;
    height: 400px;
    margin-top: 40px;
    border-radius: 0 10px 10px 0;
    background-color: #483ae096;
    padding-bottom: 80px;
}

.containerCards {
    display: flex;
    width: 80%;
margin-left: 300px;
}