.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('https://cdn.discordapp.com/attachments/1115006209641173083/1149222587856072795/Bosque_Amita.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
}

.buttonsContainer {

    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    margin-top: 70px;
    height: 30px;
}

.buttonPage {
    padding: 6px;
    border-radius: 50%;
    background: rgba(77, 45, 183, 0.405);
    background: linear-gradient(0deg, rgba(77, 45, 183, 0.568) 0%, rgba(236, 83, 176, 1) 100%);
    border: none;
    color: #fff
}

.buttonPage:hover {
    outline: 1px solid #fff;
}

.containerFiltersCards {
    display: flex;
}

.containerFilters {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 400px;
    border-radius: 0 10px 10px 0;
    background-color: #9d44c063;
    padding: 20px 0 20px 0;
    margin-top: 20px;

}

.containerCards {
    display: flex;
    width: 80%;
    margin-left: 300px;
}