.filtersConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    gap: 30px;
}

.buttonsFilter{
    display: flex;
    flex-direction: column;
    gap: 10px
}

