@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Handjet:wght@500&family=Ubuntu:wght@300&display=swap');

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #ff71d588;
    color: #fff;
    font-size: 14px;
    font-family: 'Chakra Petch', sans-serif;
    position: absolute;
    padding: 3px 20px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #dc28f4;
    opacity: 0;
    /* border: 1px solid #111111; */
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;

}
[data-title] {
    position: relative;
}

.navBarContainer {
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: #9d44c063;
    position: fixed;
    z-index: 5;
}

.navBarImagen {
    height: 40px;
}

.navBarIconForm {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    display: inline-block;
    transition: transform 0.2s, box-shadow 0.2s
}

.navBarIconForm:hover {
    outline: 1px solid #ffffff;
    transform: translateY(-2px);
    border-radius: 100%;
}

.navBarIconHome {
    height: 50px;
    background-color: transparent;
    border: none;
    display: inline-block;
    transition: transform 0.2s, box-shadow 0.2s
}

.navBarIconHome:hover {
    transform: translateY(-2px);
}

.navBarIconAbout {
    height: 30px;
    background-color: transparent;
    border: none;
    display: inline-block;
    transition: transform 0.2s, box-shadow 0.2s
}

.navBarIconAbout:hover {
    transform: translateY(-2px);
}

.navBarIconExit {
    height: 30px;
    background-color: transparent;
    border: none;
    display: inline-block;
    transition: transform 0.2s, box-shadow 0.2s
}

.navBarIconExit:hover {
    transform: translateY(-2px);
}